doctype html

mixin section(link, name)
  a(href=link).c-section
    .c-section__background
    .c-section__name
      h2.c-section__name--title=name

html(lang="sk")
  head
    meta(charset="UTF-8")
    meta(name="description", content="responsive navigation")
    meta(name="author", content="giTo")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title index
    link(rel="stylesheet", href="main.css")
  body
    #main


    script(src="js/TweenMax.min.js")
    script(src="js/app.js")
