//colors
$jadeit: #9c6
$tyrkys: #00ffff
$obloha: #b4d5fe

$text-color: black
$background-color: darken(white, 2%)
$font-color: lighten(black, 18%)
$border-color: lighten(rgba(black, 0.9), 25%)

//typography////////////
//*//*//*//*//*//*//*//

$font-size-extra-small: 0.844rem
$font-size-small: 1.125rem
$font-size-base: 1.5rem
$base-font-size: $font-size-base
$font-size-large-1: 1.999rem
$font-size-large-2: 2.665rem
$font-size-large-3: 3.553rem
$font-size-large-4: 4.736rem
$font-size-large-5: 6.313rem
$font-size-large-6: 8.415rem
$font-size-large-7: 11.218rem
$font-size-large-8: 14.953rem

//vertical-rhytm
$base-line-height: 1.45
$vertical-rhytm: $base-line-height * $base-font-size

$main-margin: 3vh

$members: 'maros-ondrejka', 'albert-russ', 'tomas-kosegi'
