.member-is-clicked
  .c-member__image-3,
  .c-member__image-2
    transform: translate3d(0, -50%, 0)
  .c-member__name
  .c-member__nameCSS
    color: black
  .c-member__image,
  .c-member__image-css
    transform: scale3d(1.25, 1.25, 1)
